/* -------- || Estilos Gerais e tipografias ---------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
    letter-spacing: 1px;
    text-align: center;
}

#container {
    overflow: hidden;
}

/* -------- || HEADER E MENU -----------*/

header {
    background-image: url('../img/bg-img.jpg');
    width: 100%;
    min-height: 100vh;
    position: relative;
}

hgroup {
    margin-top: 250px;
    color: #fff;
    letter-spacing: 3px;
    line-height: 65px;
}

hgroup h1 {
    font-size: 60px;
    font-weight: bold;
    
}

hgroup h2 {
    font-size: 30px;
}

.bg-shadow {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    opacity: 0.6;
    background-color: black;
}

#menu {
    position: absolute;
    opacity: 1;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
}

#menu nav {
    display: flex;
    justify-content: space-around;
    color: rgb(220, 222, 230);
    padding: 20px;
}

#menu p {
    font-size: 18px;
}

#menu nav a {
    color: rgb(220, 222, 230);
    text-decoration: none;
    margin: 20px;
    transition: 0.8s;
}

#menu nav a:hover {
    color: cadetblue;
}



#redes-sociais i{
    color: #B3B4B8;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 400px;
}

/* -------- || SECTION 'SOBRE' -----------*/

#sobre {
    background-color: #fff;
    width: 100%;
    min-height: 800px;
    margin: 30px auto;
}

#sobre h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

#sobre p {
    width: 58%;
    text-align: left;
    margin: 0 auto;
}

#historia {
    margin-top: 35px;
}

/* -------- || SECTION 'DESAFIO' -----------*/

#desafio {
    background-color: #EBF6EE;
    min-height: 100vh;
}

#desafio h2 {
    padding-top: 60px;
}

#perfil {
    width: 820px;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 60px auto;
}

#perfil h1{
    margin-bottom: 26px;
    font-size: 26px;
    color: #395442;
}

.container-repo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #395442;
    font-weight: bold;
}

.esq {
    margin: 25px;
    box-sizing: border-box;
    width: 200px;
}

.esq img{
    width: 150px;
    border-radius: 50%;
}

.esq a{
    text-decoration: none;
    font-size: 18px;
    color: #6f8376;
    font-weight: bold;
}

.dir ul{
    list-style: none;
    text-align: left;
    margin-bottom: 65px;
}

.btn-repo input {
    width: 200px;
    height: 44px;
    font-size: 16px;
    color: #97D7AD;
    background-color: transparent;
    border: 2px solid #97D7AD;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
}

#repo-list {
    margin-top: 60px;
    margin-left: 25px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    
}

#repo-list h4 {
    color: #395442;
}

#repo-list ul {
    width: 100%;
}

#repo-list ul li{
    list-style: none;
    text-align: left;
    padding: 7px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #395442;
}

#repo-list li:nth-child(even) {
    background-color: #D2EEDF;
    
    width: 100%;
  }

/* -------- || FOOTER -----------*/

footer {
    background-color: #373737;
    min-height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 75px;
    box-sizing: border-box;
}

footer p {
    color: #fff;
}

footer i {
    background-color: #fff;
    color: #373737;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: -1000px;
}

/* -------- || ANIMAÇÕES -----------*/

[data-anime ] {
    opacity: 0;
    transition: 2s;
}

[data-anime="left"] {
    transform: translate3d(-100px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(100px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
}
