#sobre {
    background-color: #fff;
    width: 100%;
    min-height: 800px;
    margin: 30px auto;
}

#sobre h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

#sobre p {
    width: 58%;
    text-align: left;
    margin: 0 auto;
}

#historia {
    margin-top: 35px;
}